<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="shortcut icon" href="./img/icons8-portfolio-16.png" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
  <script src="/layouts/app.js"></script>
 
</head>

<body>
  <header class="sticky top-0 z-10 bg-white text-slate-600 shadow-2xl">
    <section class="mx-auto flex max-w-4xl items-center justify-between p-4">
      <h1 class="text-3xl font-semibold flex">
        <img src="./img/logoweb.jpg" class="w-10">
        <a href="#hero">90'S Tech</a>
      </h1>
      <div>
        <button
          id="hamburger-button"
          class="relative h-8 w-8 cursor-pointer text-3xl md:hidden"
        >
          <!-- &#9776; -->
          <div
            class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-slate-600 transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-2 before:rounded before:bg-slate-600 before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-2 after:rounded after:bg-slate-600 after:transition-all after:duration-500 after:content-['']"
          ></div>
        </button>
        <nav class="hidden space-x-8 text-xl md:block" aria-label="main">
          <a href="#homePage" class="hover:text-slate-400">Home</a>
          <a href="#About" class="hover:text-slate-400">About Me</a>
          <a href="#Works" class="hover:text-slate-400">Services</a>
          <a href="#Contact" class="hover:text-slate-400">Contact Us</a>
        </nav>
      </div>
    </section>
    <section
      id="mobile-menu"
      class="top-68 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-slate-600 text-4xl"
    >
      <!-- <button class="text-8xl self-end px-6">
              &times;
          </button> -->
      <nav
        class="flex min-h-screen flex-col items-center py-8 text-white"
        aria-label="mobile">
        <a href="#homePage" class="w-full py-6 text-center hover:text-slate-400"
          >Home</a>
        <a href="#About" class="w-full py-6 text-center hover:text-slate-400"
          >About Me</a>
        <a
          href="#Works"
          class="w-full py-6 text-center hover:text-slate-400"
          >Services</a>
        <a href="#Contact" class="w-full py-6 text-center hover:text-slate-400"
          >Contact Us</a>
      </nav>
    </section>
  </header>
  <div id="homePage" class="h-[50vh] lg:h-screen bg-gradient-to-t from-indigo-200 relative overflow-hidden">
     
 <!-- hero secion -->
    <div class="max-w-4xl">
      <img class="w-3/5 absolute -bottom-5 right-5 object-cover lg:left-0 md:mx-auto md:right-14 sm:right-12 sm:w-1/2 md:w-1/3 lg:w-auto p-3" 
        src="./img/backgroundimage-removebg-preview.png">
        
        <div class="absolute hidden lg:block bg-indigo-900 w-big h-big rounded-full left-0 right-0 mx-auto -bottom-1/4 -z-10"></div>

        <div class="absolute top-1/2 left-5 text-2xl font-semibold text-slate-600 sm:left-12 sm:text-3xl md:mx-auto md:text-4xl lg:left-10 text-left lg:text-5xl p-3">
         <h1 class="mb-2">freelance</h1>
         <span class="text-red-500">Developer</span>
        </div>
        <div class="absolute bg-white p-3 w-1/3 top-1/3 lg:right-5 hidden lg:block rounded-xl shadow-2xl">
          <h1 class="text-2xl text-slate-600 font-semibold mb-2">Hi I'm Abraham</h1>
          <p class="text-gray-400">With over 1 year experience in Web development Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque expedita explicabo consequatur aperiam nihil qui dolore</p>
          <div class="bg-transparent ring-1 hover:bg-blue-500 w-fit mt-3 px-3 py-1 rounded-md hover:text-white hover:animate-pulse text-blue-500">
            <a href="#Contact">Hire me</a>
          </div>
        </div>
    </div>
  </div> 
    </div> 
<!-- About section -->
    <div id="About" class="relative my-28 scroll-mt-20">
      <div class="max-w-4xl mx-auto flex flex-col-reverse gap-20 md:flex-row md:gap-0">
        <div class="">
          <img class="w-1/2 top-1/4  object-cover left-0 right-0 mx-auto sm:h-auto md:w-4/5" 
           src="./img/cartoonimage-removebg-preview.png">
        </div>
        <div class="w-full mx-auto flex flex-col gap-3 px-7 container">
          <h1 class="text-indigo-500 text-xl font-semibold uppercase dark:text-white">About Me</h1>
          <span class=" text-4xl font-semibold">Better Experience</span>
          <span class="text-4xl font-semibold">Better Design</span>
          <span class="italic text-gray-400">I design and build digital products. I'm also a computer science BSC holder(3.67GPA) I'm a fast learner and good with time management</span>
          <span class="text-gray-400 font-semibold">Html</span>
          <div class="w-full bg-gray-400 h-1.5 rounded-full relative overflow-hidden">
            <div class="absolute top-0 left-0 w-full bg-indigo-600 h-1.5"></div>
          </div>
          <span class="text-gray-400 font-semibold">Css</span>
          <div class="w-full bg-gray-400 h-1.5 rounded-full relative overflow-hidden">
            <div class="absolute top-0 left-0 w-11/12 bg-indigo-600 h-1.5"></div>
          </div>
          <span class="text-gray-400 font-semibold">Javascript</span>
          <div class="w-full bg-gray-400 h-1.5 rounded-full relative overflow-hidden">
            <div class="absolute top-0 left-0 right-2/4 w-2/5 bg-indigo-600 h-1.5"></div>
          </div>
        </div>
      </div>
    </div>

<!-- work section -->
    <div id="Works" class="max-w-4xl mx-auto my-20 scroll-mt-16">
        <div class="flex flex-col gap-3 items-center text-center p-3 justify-center">
          <span class="text-indigo-500 text-xl font-semibold uppercase">Services</span>
          <span class="text-2xl font-semibold">What Do I Offer?</span>
          <span class="text-gray-400 w-1/2 mb-3">My approach to website design is to create that strenghtens your Company's brand while ensuring ease of use and simplicity for your audience</span>
      </div>
      <div class="w-full grid grid-cols-1 px-5 gap-3 sm:grid-cols-2 lg:grid-cols-3 justify-center">
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
        <div class="p-3 rounded-lg shadow-2xl bg-white">
          <img class="w-8" src="./img/16821f55.firefox-logo.svg" alt="">
          <h1 class="font-mediu, text-lg">UI / UX Design</h1>
          <p class="text-gray-500">I specialise in creating interactive websites for individuals and small businesses</p>
          <a class="text-indigo-600 font-semiboldtext-sm" href="#About">Read More</a>
        </div>
      </div>  
    </div>

<!-- contact section -->
    <div id="Contact" class="scroll-mt-16">
      <div class="max-w-4xl mx-auto w-full p-5 flex flex-col justify-center text-center">
        <div class="flex flex-col justify-center gap-3">
          <h1 class="text-indigo-500 text-xl font-semibold uppercase">Contact</h1>
          <h1 class="text-3xl md:4xl">Have a question?</h1>
          <span class="text-sm text-gray-500 mb-8">Do you have an idea? let's discuss it and see what we can achieve together.</span>
        </div>
        <form class="flex flex-col gap-4 justify-center w-5/6 mx-auto md:w-4/6">
          <input class="p-2 ring-gray-500 ring-2 rounded-md" type="text" name="name" id="name" placeholder="name surname">
          <input class="p-2 ring-gray-500 ring-2 rounded-md" type="email" name="email" id="email" placeholder="Email">
          <textarea class="p-2 rounded-md ring-gray-500 ring-2" cols="30" rows="10" placeholder="Message..."></textarea>
          <button class="bg-blue-800 rounded-md p-2 text-white font-semibold" type="submit">submit</button>
        </form>
      </div>
    </div>

    
    <footer class="w-full bg-black text-white">
      <div class="max-w-4xl mx-auto p-4 flex justify-between px-10">
          <h1 class="text-3xl font-semibold cursor-pointer">90's-Tech
          </h1>
        <span class="text-2xl hidden md:block ">2023 90's design by Abteck</span>
        <div class="flex gap-2 md:flex-col md:gap-3">
          <img class="w-8 md:w-10 hover:animate-bounce" src="./img/icons8-facebook-48.png" alt="">
          <img class="w-8 md:w-10 hover:animate-bounce" src="./img/icons8-instagram-48.png" alt="">
          <img class="w-8 md:w-10 hover:animate-bounce" src="./img/icons8-twitter-48.png" alt="">
        </div>
      </div>
    </footer>
    <script>
    const initApp = () => {
    const hamburgerBtn = document.getElementById('hamburger-button')
    const mobileMenu = document.getElementById('mobile-menu')

    const toggleMenu = () => {
        mobileMenu.classList.toggle('hidden')
        mobileMenu.classList.toggle('flex')
        hamburgerBtn.classList.toggle('toggle-btn')
    }

    hamburgerBtn.addEventListener('click', toggleMenu)
    mobileMenu.addEventListener('click', toggleMenu)
}

document.addEventListener('DOMContentLoaded', initApp)
    </script>
</body>

</html>
